<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách danh mục.</h3><br/>
        </div>
        <div class="box-body">
          <%= link_to t(".create"), new_admin_category_path, class: "btn btn-primary" %>
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th><%= t "user.name" %></th>
              <th><%= t "action" %></th>
            </tr>
            </thead>
            <tbody>
              <%= render @categories %>
              <%== pagy_bootstrap_nav(@pagy) %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>