<tr id="delete_user_<%= user.id %>">
  <td><%= user.id %></td>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.current_sign_in_ip %></td>
  <td><%= user.sign_in_count %></td>
  <td>
    <%= link_to admin_user_path(user), remote: :true, method: :delete, data: {confirm: t("you_sure")}, style: "color: red" do %>
      <% if user.deleted? %>
        <i class="fa fa-fw fa-reply-all icon_delete font-site-25"></i>
      <% else %>
        <i class="fa fa-fw fa-remove icon_delete  font-site-25"></i>
      <% end %>
    <% end %>
  </td>
</tr>
